@import "variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
a{
    color: inherit;
    text-decoration: none;
}
li{
    list-style-type: none;
  }

h3{
    font-size: $logo;
} 
h2{
    font-size: $headers;
}

@keyframes round1 {
    from {
transform: rotate(0);
}
to {
    transform: rotate(360deg);
}
}

body{
    font-size: $text-size;
    font-family: $f-family1;
    color: $black;
}
  
.container{
    width: 1120px;
    margin: 0 auto;
}
header{
    height: 168px;
    background-color: $black;
    color: $whiteMain;
    font-size: $mini-text;
    margin-bottom: 31px;

        .header-top{
            display:flex;
            padding-top: 14px;

            .header-left{
                display:flex;
                align-items: center;
                padding-right: 50px;

                select{
                    background: rgba(255, 255, 255, 0.2);
                    border-radius: 31px;
                    padding: 4px 8px;
                    color: $whiteMain;
                      
                    option{
                        color: $black;
                    }

                    &:hover{
                        cursor: pointer;
                    }


                }

                a{
                    margin-left: 18px; 
                }
            }

            ul{
                display: flex;
                align-items: center;

                li{
                    margin-right: 26px;
                    text-decoration-line: underline;
                    color: $grey2;
                }
            }

        }

        .header-bottom{
            display:flex;
            padding-top: 30px;
            

            .header-bottom-left{
                display:flex;
                align-items: center;

                button{
                    display:flex;
                    justify-content: space-around;
                    position: relative;
                    font-size: $text-size + 2;
                    width: 148px;
                    height: 46px;
                    background: $yellow;
                    border-radius: 8px;

                    div{
                        width: 16px;
                        height: 16px;
                        position: inherit;
                        margin-top: 20px;

                        svg{
                            position: absolute;
                            
                            &:first-child{
                                bottom: 9px;
                            }
                            &:nth-child(2){
                                bottom: 19px;
                            }

                        }
                    }

                    &:hover{
                        cursor: pointer;    
                        transform: scale(1.05);
                        transition: 0.5s;
                    }
                    
                    p{
                        margin-top: 11px;
                    }

                    
                }

                h3{
                    margin-left: 30px;
                    margin-right: 48px;
                }
                
                &>div{
                    position: relative;

                    input{
                        border-radius: 60px;
                        background-color: 
                        #404040;
                        width: 459px;
                        height: 56px;
                        line-height: 19px;
                        align-items: center;
                        color: $whiteMain;
                        
                        padding-left: 21px;
                    }
                    label{
                            position: absolute;
                          bottom: 0;
                          right: 23px;
                      }

                }
            }
            .header-bottom-right{
                display:flex;


                .adress{
                    position: relative;
                    margin-left: 48px;
                    margin-right: 52px;
                    
                    &>div{
                        position: relative;
                        width: 24px;
                        height: 30px;

                        svg{
                            position: absolute;

                            &:first-child{
                                right: -9px;
                            }
                            &:last-child{
                                bottom: 9px;;
                                right: -1px;
                            }
                        }
                    }
                    figcaption{
                        position: absolute;
                        bottom: 0;
                    }

                    &:hover{

                        cursor: pointer;
                        &>div{
                            &>svg{
                                &> path{
                                
                                    stroke:$yellow;
                                } 
                            }    
                        }
                        &>figcaption{
                            color:$yellow;
                        }
                    }
                }

                .enter{
                    position: relative;
                    
                    &>div{
                        position: relative;
                        width: 24px;
                        height: 24px;
                    
                        svg{
                            position: absolute;

                            &:first-child{
                                right: 0px;
                            }
                            &:last-child{
                                bottom:0;
                                right: -6px;
                            }
                        }
                    }
                    figcaption{
                        position: absolute;
                        bottom: 0;
                    }
                    &:hover{

                        cursor: pointer;
                        &>div{
                            &>svg{
                                &> path{
                                
                                    stroke:$yellow;
                                } 
                            }    
                        }
                        &>figcaption{
                            color:$yellow;
                        }
                    }
                }

                .basket{
                    position: relative;
                    margin-left: 48px;
                    
                    &>div{
                        position: relative;
                        width: 30px;
                        height: 24px;
                    
                        svg{
                            position: absolute;

                            &:first-child{
                                right: -11px;
                            }
                            &:nth-child(2){
                                bottom: -8px;
                                right: 5px;
                            }
                            &:last-child{
                                bottom:-8px;
                                right: -8px;
                            }
                        }
                    }
                    figcaption{
                        position: absolute;
                        bottom: 0;
                    }

                    &:hover{

                        cursor: pointer;
                        &>div{
                            &>svg{
                                &> path{
                                
                                    stroke:$yellow;
                                } 
                            }    
                        }
                        &>figcaption{
                            color:$yellow;
                        }
                    }

                }
            }
        }

}

.slider{
    height: 440px;

    .sliderA{
        width: 99.88%;
        height: 350px;
        position: relative;
        text-align: center;

        div{
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            z-index: 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
        }

        .sliderA-1{

            h2{
                font-style: normal;
                font-weight: bold;
                font-size: $headers;
                line-height: 37px;
                color: $whiteMain;
                margin-right: 347px;
                margin-top: 46px;
            }

            p{
                font-style: normal;
                font-weight: normal;
                line-height: 19px;

                color: $whiteMain;
                opacity: 0.6;
                padding-top: 22px;
                 margin-right: 566px;
            }

            button{
                width: 220px;
                height: 46px;
                left: 172px;
                top: 200px;
                border: 2px solid $yellow;
                border-radius: 28px;
                background: transparent;
                color: $yellow;
                margin-top: 43px;
                margin-right: 752px;
            }
        }

        .sliderA-2{
            height: 360px;
            width: 1120;
        }

        input{
            display: none;

            &+label{
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 8px;
                background: rgba(90, 90, 90, 0.8);
                border: 2px solid rgba(190, 190, 190, 0.8);
                cursor: pointer;
                z-index: 100;
                position: relative;
                margin-right: 4px;
                top: 90%;
                transition: background 0.8s ease-out 0s;
                margin-bottom: -48px;
            }

            label{
                &>div{
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    right: 0px;
                    bottom: 0px;
                    z-index: 0;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0.9s;
                    
                }

            }
            &+label:hover{
                background: rgba(250, 250, 250, 0.8);
            }    
            
        }
        input:checked{

            &+label{
               &+div{
                visibility: visible;
                opacity: 1;
                transition: opacity 0.8s ease-out 0.1s, visibility 0.1s ease-out 0s;

                } 
            }
            
        }
    }
}

.sale{
    height: 280px;
    padding-bottom: 49px;

    .container{
        display:flex;
        align-items: center;
        flex-flow: wrap;
    
            .goodsSale{
            margin-right: 24px;
            width: 352px;
            height: 280px;
            position: relative;
            background-color: $asphalt;
            border-radius: 20px;

                p{
                    position: absolute;
                    left: 24px;
                    top: 24px;
                    line-height: 20px;
                }
                img{
                    margin-left: 93px;
                    margin-top: 65px;
                }

                span{
                    position: absolute;
                    right: 24px;
                    top: 24px;

                    font-weight: bold;
                    font-size: 24px;
                }

                svg{
                    position: absolute;
                    right: 32px;
                    top: 154px;
                }

                .percent{
                    position: absolute;
                    font-weight: 500;
                    line-height: 29px;
                    letter-spacing: 0.04em;
                    transform: rotate(-15deg);
                    left: 242px;
                    top: 178px;
                    text-align: center;
                }

                &:last-child{
                    margin-right: 0px;
                }

                &:hover{
                    cursor: pointer;    
                    transform: scale(1.05);
                    transition: 0.5s;

                    &>.percent{
                        animation: round1 6s infinite;

                    }
                }
            }
    }
}

.hits{

    padding-top: 49px;

    .container{

        h2{
            font-weight: 500;
        }
        ul{
            display: flex;
            flex-flow: wrap;
            padding-bottom: 51px;

            li{
                position: relative;
                background-image: url('img/hit1.png');
                height: 239px;
                width: 187px;

                @for $child from 1 through 4
                {
                    &:nth-child(#{$child}){
                        margin-right: 46px;
                    }
                }
                @for $child from 6 through 9
                {
                    &:nth-child(#{$child}){
                    margin-right: 46px;
                    }
                }
                p{
                    position: absolute;
                    bottom: 18px;

                    &:first-child{
                        font-size: $text-size + 2;
                    }
                    &:nth-child(2){
                        font-size: $mini-text;
                        text-decoration-line: line-through;
                        right: 72px;
                        line-height: 16px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }

                span{
                    position: absolute;
                    bottom: 0;
                    line-height: 16px;
                    color: rgba(0, 0, 0, 0.5);
                    font-size: $mini-text;
                }

                &:hover{
                    cursor: pointer;    
                    transform: scale(1.05);
                    transition: 0.5s;
                }

            }
        }

        #showContent{
            width: 220px;
            height: 46px;
            background-color: $asphalt;
            border-radius: 28px;
            color: $black;
            border: none;
            line-height: 19px;
            margin-left: 435px;

            &:hover{
                cursor: pointer;   
            }

        }
    }






















}
#outer_container{
    margin:60px auto; 
    padding:0 10px;

    #thumbScroller{
        position:relative; 
        margin:auto;
        overflow:hidden;

        .container1{
            position:relative; 
            left:0;
        }
        .content{
            float:left;

            div{
                padding:10px 15px; 
                height:100%;
            }
        }
    }
}

.view{

    padding-bottom: 98px;

    .container{
        h2{
            font-weight: 500;
            
        }

        div{
            padding-top: 32px;
            display: flex;
            justify-content: space-between;

            figure{
                width: 348px;
                height: 317px;

                figcaption{
                    line-height: 19px;
                    text-align: center;
                    margin: 0px 10px;
                    padding-top: 15.41px;
                }

                &:hover{
                    cursor:pointer;
                    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
                }
            }

            
            
        }
    }
}

.searchInstagram{
    padding-bottom: 78px;
    .container{

        h2{
            font-weight: 500;
            padding-bottom: 42px;
        }

        ul{
            
            display: flex;
            justify-content: space-between;

            li{
                width: 202px;
                height: 202px;

                p{
                    display:none;
                }

                &:hover{
                    cursor: pointer;
                    color: #fff; 

                    p{
                        background: rgba(0, 0, 0, 0.5); /* Цвет фона */
                        width: 202px;
                        height: 202px;
                        display: block;
                        opacity: none;
                        font-weight: bold;
                        text-align: center;
                        padding-top: 90px;
                    }
                }
            }
        }
    }
}

footer{
    
    background-color: $black;
    height: 428px;

    .container{

        .colomns{
            display:flex;
            justify-content: space-between;
            color: $whiteMain;

            ul{
                font-size: $mini-text;
                

                li{
                    margin: 28px 0px;
                    line-height: 12px;
                }

                &:nth-child(4){

                    margin: 13px 0px;

                    li{
                        margin: 14px 0px;

                        &:nth-child(4){
                            padding-bottom: 45px;
                        }

                    }
                    
                }
            }

        }
    }
}




